<!--  eslint-disable vue/multi-word-component-names  -->
<template>
  <div class="cart">
    <h1>{{ $t('cart.title') }}</h1>
    <div v-if="products.length > 0" class="cart-items">
      <a-row :gutter="[16, 16]">
        <a-col v-for="(product) in products" v-show="product.id" :key="product.id" :span="24">
          <CartTheCartProduct :product="product" />
        </a-col>
      </a-row>
    </div>

    <div v-if="products.length > 0" class="cart-total">
      <a-divider />
      <div class="total">
        <span>{{ $t('cart.shipingPrice') }}</span>
        <span>15 {{ $t('currencies.ryial') }}</span>
      </div>
      <a-divider />
      <div class="total">
        <span>{{ $t('cart.totalPrice') }}</span>
        <span>{{ calcTotalPrice + 15 }} {{ $t('currencies.ryial') }}</span>
      </div>
      <a-divider />
    </div>
    <CartTheCartForm v-if="products.length > 0" />
    <div v-else class="cart-empty">
      <NoResults :message="$t('emptyCartTitle')" />
      <span class="home-link">{{ $t('goTo') }} <nuxt-link to="/">
        {{ $t('homePage') }}
      </nuxt-link></span>
    </div>
  </div>
</template>
<script>
import NoResults from '~/components/NoResults.vue'
export default {
  components: { NoResults },
  transition: 'fade',
  data () {
    return {
      totalPrice: 0
    }
  },
  computed: {
    products () {
      return this.$store.state.cart
    },
    calcTotalPrice () {
      let total = 0
      this.products.forEach((item, i) => {
        total += (item.price - item.discount) * item.quantity
      })
      return total
    }
  },
  mounted () {
  }
}
</script>
<style lang="scss" scoped>
.cart {
  min-height: 100vh;
  .cart-total {
    .total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 16px;
      }
    }
  }
  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .home-link {
      display: block;
      margin-top: 8px;
    }
  }
}
</style>
