<template>
  <a-card :loading="loading" class="store-categories-card" :class="scrolled ? 'fixed' : ''">
    <div class="store-categories">
      <h1>{{ $t("home.Categories") }}</h1>
      <a-checkbox-group
        v-model="value"
        @change="onChange"
      >
        <a-checkbox v-for="(category,index ) in categories" :key="index" :value="category.category_en">
          {{ $i18n.locale === 'en' ? category.category_en : category.category_ar }}
        </a-checkbox>
      </a-checkbox-group>
    </div>
  </a-card>
</template>
<script>
export default {
  data () {
    return {
      categories: [
        {
          category_en: 'accessories',
          category_ar: 'أكسسوارات'
        },
        {
          category_en: 'Clothes',
          category_ar: 'ملابس'
        },
        {
          category_en: 'Electronics',
          category_ar: 'إلكترونيات'
        }
      ],
      value: [],
      loading: false,
      scrolled: false
    }
  },
  mounted () {
    window.addEventListener('scroll', this.handleScroll)
  },
  methods: {
    onChange () {
      this.$store.commit('products/SET_CATEGORIES_FILTER', this.value)
    }
    // handleScroll () {
    //   if (window.innerWidth > 767) {
    //     if (window.pageYOffset > window.innerHeight + 250) {

    //     }
    //   }
    // }
  }
}
</script>
<style lang="scss" scoped>
.ant-card {
    margin-bottom: 16px;
    .scrolled {
      position: sticky;
      top: 16px;
    }
}
.ant-checkbox-group {
  display: flex;
  flex-direction: column;
  ::v-deep .ant-checkbox-group-item {
    margin-bottom: 16px;
    margin-right: 0px;
  }
  ::v-deep {
    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
      margin-left: 0px;
      margin-top: 8px;
    }
  }
}
.store-categories {
  &-card {
    @media only screen and (max-width: 991px){
      display: none;
    }
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid var(--gray);
    margin: 0;
    margin-bottom: 16px;
    padding-bottom:8px;
  }
}

</style>
