<template>
  <a-card :loading="loading">
    <div class="store-info">
      <div class="store-info-head">
        <div class="store-info-head-details">
          <div class="store-info-head-details-name">
            <h1>{{ $t("home.SecuredTransactitions.title") }}</h1>
          </div>
          <div class="vierfied-payment-logos">
            <img src="~/assets/imgs/knet-creditcards.png" alt="">
          </div>
        </div>
        <div class="store-info-head-photo">
          <img src="~/assets/imgs/payzaty-p.svg" alt="">
        </div>
      </div>
      <ul class="store-info-bottom">
        <li>
          <img src="https://www.payzaty.com/img/secure/thawte.svg" alt="">
        </li>
        <li>
          <img src="https://www.payzaty.com/img/secure/visa.svg" alt="">
        </li>
        <li>
          <img src="https://www.payzaty.com/img/secure/mater.svg" alt="">
        </li>
        <li>
          <img src="https://www.payzaty.com/img/secure/pci.svg" alt="">
        </li>
      </ul>
    </div>
  </a-card>
</template>
<script>
export default {
  data () {
    return {
      loading: false
    }
  }
}
</script>
<style lang="scss" scoped>
.ant-card {
    margin-bottom: 16px;
}
.vierfied-payment-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px 16px 0px;
    img {
        max-width: 200px;
    }
}
.store-info {
    &-head {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--gray);
        justify-content: space-between;
        flex-direction: row-reverse;
        &-photo {
            img {
                width: 45px;
                height: auto;
                padding: 8px;
                /* object-fit: cover;
                border-radius: 50%;
                border: 3px solid var(--white);
                box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
                object-position: center; */
            }
        }
        &-details {
            margin: 0px 16px;
            &-name {
                h1 {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 4px;
                }
            }
            &-info {
                display: flex;
                align-items: center;
                span {
                    &:first-of-type {
                        margin-right: 8px;
                    }
                    font-size: 14px;
                }
            }
        }
    }
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 16px;
      li {
        img {
          width: 60px;
          margin: 0px 4px;
        }
      }
    }
    &-description {
        p {
            font-size: 15px;
            margin:8px 0px;

        }

    }
}
.rtl {
  .store-info-head {
    flex-direction: row;
  }
}
</style>
