<template lang="">
  <div class="products-views">
    <div class="products-views-view list-view" :class="activeView == 'list' ? 'active' : ''" @click="changeView('list')">
      <a-popover placement="bottom">
        <template slot="content">
          <span>{{ $t('filter.listView') }}</span>
        </template>
        <a-icon type="bars" />
      </a-popover>
    </div>
    <div class="products-views-view grid-view" :class="activeView == 'grid' ? 'active' : ''" @click="changeView('grid')">
      <a-popover placement="bottom">
        <template slot="content">
          <span>{{ $t('filter.gridView') }}</span>
        </template>
        <a-icon type="appstore" />
      </a-popover>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      activeView: 'grid'
    }
  },

  methods: {
    changeView (view) {
      this.$nuxt.$emit('change-view', view)
      this.activeView = view
    }
  }
}
</script>
<style lang="scss" scoped>
.products-views {
    display: flex;
    align-items: center;

    &-view {
        margin: 0px 8px;
        cursor: pointer;
        &:hover,
        &.active {
            .anticon {
                color: var(--primary);
            }
        }
    }
    .anticon {
        font-size: 20px;
    }
}
</style>
