<template>
  <div class="search-products">
    <a-input-search :placeholder="$t('filter.search')" allow-clear @input="debounceInput" />
  </div>
</template>
<script>
import debounce from 'lodash.debounce'
export default {
  data () {
    return {
      searchText: ''
    }
  },
  methods: {
    debounceInput: debounce(function (e) {
      this.searchText = e.target.value
      this.$nuxt.$emit('set-search-value', e.target.value)
    }, 400)
  }
}
</script>
<style lang="scss" scoped>
.search-products {
    flex: 1;
}
</style>
