<template>
  <footer>
    <img
      src="~/assets/imgs/payzaty.svg"
    >
    <span>Powered By <a href="http://payzaty.com/">Payzaty</a></span>
  </footer>
</template>
<script>
export default {

}
</script>
<style lang="scss">
footer {
  margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background: var(--primary);
    img {
        max-width: 120px;
    }
    span {
        display: block;
        margin-top: 16px;
        color: var(--white);
        a{
            text-decoration: underline;
            color: var(--white);
            font-weight: bold;
            &:hover {
               opacity: 0.8;
               color: var(--white);
            }
        }
    }
}
</style>
