<!-- eslint-disable vue/multi-word-component-names -->

<template>
  <nav class="navbar fixed">
    <div class="container">
      <div class="navbar-content-container">
        <!-- <NuxtLink to="/" class="navbar-logo">
          <img src="~/assets/imgs/payzaty.svg" alt="">
        </NuxtLink> -->
        <ul class="navbar-list">
          <li v-if="$route.path !== '/'" class="back-button">
            <a @click="$router.go(-1)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-chevron-left"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <polyline points="15 6 9 12 15 18" />
              </svg>
            </a>
          </li>
          <li v-if="$route.path !== '/cart'">
            <a @click="goToCart">
              <a-badge :count="$store.state.cart.length">
                <a-icon type="shopping-cart" class="shopping-cart-icon" :style="{fontSize: '24px', color: 'var(--black)'}" />
              </a-badge>
            </a>
          </li>
          <li class="change-lang">
            <a class="change-language-btn" @click.prevent="changeLang">
              {{ $t('navbar.lang') }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'TheNavbar',
  methods: {
    changeLang () {
      if (this.$i18n.locale === 'ar') {
        this.$i18n.setLocale('en')
        document.body.classList.remove('lang-ar')
      } else {
        this.$i18n.setLocale('ar')
        document.body.classList.add('lang-ar')
      }
    },
    goToCart () {
      /* eslint-disable */
      if (this.$store.state.cart.length > 0) {
        this.$router.push('/cart')
      } else {
        this.$notification.open({
        message: this.$t('emptyCartTitle'),
        description:
          this.$t('emptyCartDescription'),
          /* eslint-disable-next-line */
          // icon: <a-icon type="shopping-cart" style="color: var(--primary)" /> 
      });
      }
    }
  },
  mounted(){
    window.addEventListener('scroll', () => {
      if (window.pageYOffset > 45){
        document.querySelector('.navbar').classList.add('scroll');
      } else {
        document.querySelector('.navbar').classList.remove('scroll');
      }
    })
  }
}
</script>
<style lang="scss" scoped>
.navbar {
  background-color: var(--white);
  padding: 24px 0px;
  border-bottom: 1px solid var(--gray);
  box-shadow: 0px 8px 16px rgba(0,0,0,0.02);
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: .2s all ease-in;
  
  &-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    img {
      max-width: 145px;
      width: 100%;
      height: auto;
    }
  }
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    @media only screen and (max-width: 567px){
        padding: 0px 24px;
    }
    .change-lang {
      margin-left: auto !important; 
    }
    li {
      margin-left: 16px;
      a {
        color: var(--white);
      }
      .change-language-btn {
        padding: 0.327em 1em;
        background-color: var(--dark-primary);
        border: 1px solid transparent;
        font-size: 16px;
        border-radius: 25px;
        transition: border .2s ease-in;
        &:hover {
          border-color: var(--white);
        }
      }
    }
  }
  &.scroll {
    background-color: var(--primary);
    border-bottom-color: var(--white);
    .back-button {
      svg {
        stroke: var(--white);
      }
    }
    .shopping-cart-icon {
      color: var(--white) !important;
    }
  }
}

.rtl {
  .change-lang {
      margin-right: auto !important;
      margin-left: 0 !important;
  }
  .navbar-list {
    li {
      margin-right: 16px;
      margin-left: 0;
    }
    .back-button {
      svg  {
        transform: rotate(180deg);
      }
    }
  }
}
</style>
