<template>
  <aside>
    <TheSidebarStoreInfo />
    <TheSidebarStoreCategories v-if="$route.path === '/'" />
    <TheSidebarContactDetails />
    <TheSidebarVerifiedPayment />
  </aside>
</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>
@media only screen and (max-width: 767px){
  aside {display: none;}
}
</style>
