<template>
  <div>
    <div class="store-info">
      <TheSidebarStoreInfo />
    </div>
    <div class="products-filter">
      <SearchProducts />
      <ProductsView />
    </div>
    <div class="filter-by-categories">
      <StoreCategoriesSelect />
    </div>
    <div v-show="filteredProducts" class="products-container">
      <!-- Container of Products in Grid View -->
      <a-row v-if="productsView == 'grid'" :gutter="[6, 16]">
        <a-col
          v-for="(product) in filteredProducts"
          :key="product.id"
          :span="8"
          :lg="8"
          :md="12"
          :sm="12"
          :xs="12"
        >
          <ProductGridView
            :product="product"
          />
        </a-col>
      </a-row>
      <!-- Container of Products in List View -->
      <a-row v-if="productsView == 'list'" :gutter="[16, 16]">
        <a-col v-for="(product) in filteredProducts" :key="product.id" :span="24">
          <ProductListView :product="product" />
        </a-col>
      </a-row>
    </div>
    <div v-show="loadingProducts" class="loading">
      <a-spin>
        <a-icon slot="indicator" type="loading" style="font-size: 24px;color:var(--primary)" spin />
      </a-spin>
      <span>{{ $t('home.LoadingProducts') }}</span>
    </div>
    <NoResults v-show="filteredProducts.length == 0 && !loadingProducts" />
    <div style="margin-top: 16px;" class="store-info">
      <TheSidebarContactDetails />
      <TheSidebarVerifiedPayment />
    </div>
  </div>
</template>
<script>
import products from '../static/data.json'
export default {
  name: 'IndexPage',
  async asyncData ({ $http, store }) {
    // const { records } = await $http.$get('https://api.jsonbin.io/v3/b/62e805f21c7f436f211b04c8')
    await store.commit('products/SET_PRODUCTS', products)
    return { products }
  },
  data () {
    return {
      searchValue: '',
      productsView: 'grid',
      products: [],
      loadingProducts: true,
      title: this.$t('home.StoreInfo.StoreName'),
      asProducts: []
    }
  },
  head () {
    return {
      title: this.title
    }
  },
  computed: {
    filteredProducts () {
      return this.products?.filter((product) => {
        return product.name.toLowerCase().includes(this.searchValue.toLowerCase())
      }).filter((product) => {
        if (this.$store.state.products.selectedCategoriesFilter.length > 0) {
          return this.$store.state.products.selectedCategoriesFilter.some((c) => {
            return product.category.includes(c)
          })
        } else {
          return product
        }
      })
    }
  },
  created () {
    this.$nuxt.$on('change-view', ($event) => {
      this.productsView = $event
    })
    this.$nuxt.$on('set-search-value', ($event) => {
      this.searchValue = $event
    })
    this.loadingProducts = false
    this.products = this.$store.state.products.products
  }
}
</script>
<style lang="scss" scoped>
.store-info {
  display: none;
  @media only screen and (max-width: 767px){
    display: block;
  }
}
.filter-by-categories {
  display: none;
  margin-top: 16px;
  margin-bottom: 24px;
  @media only screen and (max-width: 767px){
    display: block;
  }
}
.products-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-container {
  margin-top: 16px;
}
.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  span {
    margin-top: 8px;
    font-size: 14px;
  }
}

</style>
